[submodule "extern/libmorton"]
	path = extern/libmorton
	url = git@github.com:Wehrdo/libmorton.git
[submodule "extern/cxxopts"]
	path = extern/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "extern/librealsense"]
	path = extern/librealsense
	url = git@github.com:IntelRealSense/librealsense.git
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "extern/VulkanMemoryAllocator"]
	path = exter/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git